@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Custom animations */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Custom styles */
.animate-slideDown {
    animation: slideDown 200ms ease-out;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
    position: relative;
}
