{# templates/dashboard/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div
		class="p-4">

		{# Button that opens the modal via the "toggle" checkbox #}
		<label for="lane_create_modal" class="btn btn-primary">+ Add Lane</label>

		<div class="dashboard flex gap-4 overflow-x-auto mt-4" id="board-lanes">
			{% for lane in board.lanes %}
				{% include 'components/Lane.html.twig' with { lane: lane } %}
			{% endfor %}
		</div>

		{# Include Create modal #}
		{% include 'dashboard/new_lane.html.twig' with {
        form: laneForm,
        board: board,
        checked: openLaneModal|default(false)
        } only %}

		{# Include all Edit modals #}
		{% for lane in board.lanes %}
		{% include 'dashboard/update_lane.html.twig' with {
        lane: lane,
        form: laneEditForms[lane.id],
        checked: (openEditLaneId is defined and lane.id == openEditLaneId)
        } only %}
		{% endfor %}

		{# Include all Card Edit modals #}
		{% for lane in board.lanes %}
			{% for card in lane.cards %}
				{% include 'dashboard/update_card.html.twig' with {
					card: card,
					form: cardEditForms[card.id],
					checked: (openEditCardId is defined and card.id == openEditCardId)
				} only %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
