{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="dashboard flex gap-4 overflow-x-auto p-4">
    {# The lanes will be injected here #}
    {% for lane in board.lanes %}
        {% include 'components/Lane.html.twig' with { lane: lane } %}
    {% endfor %}
</div>
{% endblock %}
